name: 'Auto Assign'
on:
  pull_request_target:
    types: [opened]

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: '.github/workflows/configs/auto_assign_config.yml'
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
