name: 'Auto Assign'
on:
  pull_request:
    types: [opened]

jobs:
  add-reviewers:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: '.github/auto_reviewers.yml'
  add-assignee:
    runs-on: ubuntu-latest
    steps:
      - uses: AlbertHernandez/assign-me@v1.0.0
